@theme-assets-path: '../../../themes/@{theme}/assets/';

.uv.en-gb {
    .footerPanel {
        .searchPager .controls .searchResultsInfo {
            width: 337px;
        }
        .options.minimiseButtons a.download,
        .options.minimiseButtons a.fullScreen {
            width: 115px;
            height: 28px;
            margin-top: 7px;
            padding: 7px;
            font-family: sans-serif;
            font-size: 14px;
            font-weight: bold;
            line-height: 1;
            color: @brand-primary;
        }
        .options.minimiseButtons a.download {
            text-align: right;
        }
    }
}
